body{
  background-color: #262626 !important;
  /*background-image: url("../img/escheresque_ste.png");*/
}

#isRunning{
  position:relative;
  padding-left: 50%;
}


#face{
   /*stroke-width: 1px;
   stroke: #000;*/
   fill: #33D275;

 }


#hour, #min, #sec, #handCircle{
  /*stroke-width: 1px;*/
  fill: #FDE016;

  /*stroke: #555;*/
}

#pomArc{
  stroke: #FF9F30;
}

#breakArc{
  stroke: #178FFF;
}

#pomArc, #breakArc{
  stroke-width: 8px;
  fill: none;
}

#progressArc{
  fill: none;
  stroke: #FE5E3E;
  stroke-width: 2px;
}

b{
  color: #FE5E3E;
}


#clockBox{
  max-height: 100vh;
}



#sec{
   stroke: #f55;
}

#clock{
  position: absolute;
  max-height: 100vh;
  cursor: pointer;

}

/* centered columns styles */
.row-centered {
    text-align:center !important;
}
.col-centered {
    display:inline-block !important;
    float:none !important;
    /* reset the text-align */
    text-align:left !important;
    /* inline-block space fix */
    margin-right:-4px !important;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

label{
  width: 100vw;
  color: #178FFF;
}

.numSlider{

  margin-left: 5% !important;
  width: 71% !important;
  position: relative !important;
  display: inline-block !important;
  vertical-align:middle !important;
}

.quantity{
  margin-bottom: 10px !important;
  display: inline-block !important;
  width: 17% !important;
}

#input{
  text-align: center;
}
#settings{
  display:none;
}
