body{
  background-color: #CAC9C5 !important;
}

#isRunning{
  position:relative;
  padding-left: 50%;
}


#face{
   /*stroke-width: 1px;
   stroke: #000;*/
   fill: #33D275;
   filter:url(#drop-shadow);
 }

#hands{
  filter:url(#drop-shadow);
}
#hour, #min, #sec, #handCircle{
  /*stroke-width: 1px;*/
  fill: #FDE016;

  /*stroke: #555;*/
}

#pomArc{
  stroke: #FF9F30;
}

#breakArc{
  stroke: #178FFF;
}

#pomArc, #breakArc{
  stroke-width: 8px;
  fill: none;
}

#progressArc{
  fill: none;
  stroke: #FE5E3E;
  stroke-width: 2px;
}

b{
  color: #FE5E3E;
}


#clockBox{
  max-height: 100vh;
}



#sec{
   stroke: #f55;
}

#clock{
  position: absolute;
  max-height: 100vh;
  cursor: pointer;

}

/* centered columns styles */
.row-centered {
    text-align:center !important;
}
.col-centered {
    display:inline-block !important;
    float:none !important;
    /* reset the text-align */
    text-align:left !important;
    /* inline-block space fix */
    margin-right:-4px !important;
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

label{
  width: 100vw;
}

.numSlider{

  margin-left: 5% !important;
  width: 71% !important;
  position: relative !important;
  display: inline-block !important;
  vertical-align:middle !important;
}

.quantity{
  margin-bottom: 10px !important;
  display: inline-block !important;
  width: 17% !important;
}

#input{
  text-align: center;
}
#settings{
  display:none;
}
